@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

/* Imports */
/* Fuentes tipográficas */
/*Quicksand*/
/*Bitter*/
/* HOME PAGE */
/* header - main - footer */
header {
  border: solid white 1px;
  width: 100%;
  height: 10vh;
  background-color: white;
  position: sticky;
  top: 0 auto;
}
header a img {
  position: absolute;
  width: 230px;
  left: 1%;
  bottom: 15%;
}
header input {
  display: none;
}
header:checked ~ nav {
  transform: translateX(0);
}
header label {
  display: none;
}
header nav {
  margin-top: 2.2vh;
}
header nav ul {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  right: 1%;
}
header nav ul li {
  margin: 8px;
  margin-right: 10px;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}
header nav ul li a {
  color: black;
}
@media screen and (min-width: 1000px) {
  header nav ul li a:hover {
    animation: changeColor 3s;
    animation-iteration-count: infinite;
  }
  @keyframes changeColor {
    0% {
      color: rgba(65, 138, 83, 0.5058823529);
    }
    25% {
      color: rgba(84, 188, 223, 0.5137254902);
    }
    50% {
      color: rgba(232, 122, 105, 0.5137254902);
    }
    100% {
      color: #B3A1A1;
    }
  }
}

main img {
  object-fit: cover;
  width: 100%;
  height: 75vh;
}

/* FOOTER */
footer {
  width: 100%;
  height: 11vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(179, 161, 161, 0.8549019608);
  /*Info izq*/
}
footer .div__izq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5%;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
}
footer .div__izq a {
  color: #606060;
}
footer .div__redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .div__redes .div__redes__soc {
  width: 20px;
  margin: 0px 8px;
}
footer .div__redes .div__redes__soc--fb {
  width: 10px;
}
footer .div__der {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 6%;
  padding: 0% auto;
}
footer .div__der .ubi-footer {
  color: #606060;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
}
footer .div__der .div__der--logo {
  height: 25px;
}

/* RELATOS */
/* Header relatos page */
.relatos {
  text-decoration-line: overline;
}

/* Sección N° 1 */
.grid-container-relatos {
  width: 92%;
  padding: 1%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 48vh 30vh 20vh 10vh;
  gap: 8px;
  grid-template-areas: "texto imagen imagen" "img2 img3 img4" "parrafo2 parrafo3 parrafo4" "boton2 boton3 boton4";
}
.grid-container-relatos p {
  font-family: "Bitter", serif;
  font-size: 14px;
  text-align: center;
  margin: 10% 0% 0% 20%;
}
.grid-container-relatos a {
  color: black;
  display: flex;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  background-color: #B3A1A1;
  padding: 8px;
  margin: 2% 35% 0% 35%;
}
.grid-container-relatos main {
  grid-area: texto;
  margin: 7%;
}
.grid-container-relatos main h1 {
  font-size: 32px;
  font-family: "Quicksand", sans-serif;
}
.grid-container-relatos main .btn-main {
  font-size: 16px;
  margin: 10px 30px 0px 180px;
  padding: 10px;
}
.grid-container-relatos main .p-principal {
  margin: 7% 5% 0% 0%;
  text-align: left;
}
.grid-container-relatos .grid-item-img {
  grid-area: imagen;
}
.grid-container-relatos .grid-item-img img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}
.grid-container-relatos .grid-item-foto2 {
  grid-area: img2;
}
.grid-container-relatos .grid-item-foto2 img {
  width: 70%;
  height: 100%;
  margin-left: 25%;
}
.grid-container-relatos h2 {
  font-size: 18px;
  margin: 2% 0% 0% 20%;
  font-family: "Quicksand", sans-serif;
  text-align: center;
}
.grid-container-relatos .grid-item-tex2 {
  grid-area: parrafo2;
}
.grid-container-relatos .grid-item-foto3 {
  grid-area: img3;
}
.grid-container-relatos .grid-item-foto3 img {
  width: 70%;
  height: 100%;
  margin-left: 25%;
}
.grid-container-relatos h3 {
  font-size: 18px;
  margin: 2% 0% 0% 20%;
  font-family: "Quicksand", sans-serif;
  text-align: center;
}
.grid-container-relatos .grid-item-tex3 {
  grid-area: parrafo3;
}
.grid-container-relatos .grid-item-foto4 {
  grid-area: img4;
}
.grid-container-relatos .grid-item-foto4 img {
  width: 70%;
  height: 100%;
  margin-left: 25%;
}
.grid-container-relatos h4 {
  font-size: 18px;
  margin: 2% 0% 0% 20%;
  font-family: "Quicksand", sans-serif;
  text-align: center;
}
.grid-container-relatos .grid-item-tex4 {
  grid-area: parrafo4;
}
.grid-container-relatos .grid-item-boton2 {
  grid-area: boton2;
}
.grid-container-relatos .grid-item-boton3 {
  grid-area: boton3;
}
.grid-container-relatos .grid-item-boton4 {
  grid-area: boton4;
}

/* BIO */
/* Header */
.biopage {
  text-decoration-line: overline;
}

.bio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5%;
}
.bio h1 {
  display: none;
  margin: 5% 45% 0% 0%;
  font-size: 35px;
  font-family: "quicksand", sans-serif;
}
.bio img {
  height: 448px;
  margin-left: 15%;
}
.bio p {
  margin: 2% 15% 0% 5%;
  font-size: 15px;
  font-family: "Bitter", serif;
  text-align: left;
  line-height: 1.4;
}

.contactopage {
  text-decoration-line: overline;
}

section {
  height: 100vh;
}
section form {
  margin-left: 25%;
  margin-top: 2%;
  padding: 20px;
  background-color: #b3a1a1;
  width: 45%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-items: center;
}
section form .hablemos {
  font-family: "Quicksand", sans-serif;
  font-weight: lighter;
  font-size: 36px;
}
section form .indicador {
  font-family: "Quicksand", sans-serif;
  font-weight: lighter;
}
section form .relleno {
  height: 20px;
  font-family: "Bitter", serif;
}
section form .rellenotext {
  height: 100px;
  font-family: "Bitter", serif;
  resize: none;
}
section form .enviar {
  width: 80px;
  height: 30px;
  margin-left: 45%;
  font-family: "Quicksand", sans-serif;
}

/* Menú responsive */
@media screen and (max-width: 1000px) {
  div header a img {
    width: 200px;
    bottom: 22%;
    left: 5px;
  }
  div header input {
    display: none;
  }
  div header input:checked ~ nav {
    transform: translateX(0);
  }
  div header label {
    height: 55px;
    display: flex;
    float: right;
    margin-right: 5px;
    margin-top: 12px;
    border-radius: 15%;
  }
  div header label:hover {
    animation: changeForm 4s;
    animation-iteration-count: infinite;
  }
  @keyframes changeForm {
    0% {
      background-color: rgba(65, 138, 83, 0.5058823529);
    }
    25% {
      background-color: rgba(84, 188, 223, 0.5137254902);
    }
    50% {
      background-color: rgba(232, 122, 105, 0.5137254902);
    }
    100% {
      background-color: #B3A1A1;
    }
  }
  div header nav {
    background-color: rgba(179, 161, 161, 0.6705882353);
    position: absolute;
    width: 100%;
    height: 76vh;
    transform: translateX(-100%);
    transition: all 2s;
    top: 78px;
  }
  div header nav ul li {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
  }
  div header nav ul li a {
    color: black;
    padding: 10px;
  }
  div header nav ul li a:hover {
    border-radius: 12%;
    background-color: #b3a1a1;
    transition: all 2s;
  }
}
/* Responsive -  FOOTER */
@media only screen and (min-width: 400px) and (max-width: 1000px) {
  footer div a {
    font-size: 10px;
  }
  .div__redes__soc {
    width: 15px;
    margin: 0px 6px;
  }
  .div__redes__soc--fb {
    width: 8px;
  }
  .div__der--logo {
    height: 20px;
  }
}
/* Responsive - relatos */
@media only screen and (min-width: 400px) and (max-width: 1000px) {
  .grid-container-relatos {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
