/* Fuentes tipográficas */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap'); /*Quicksand*/
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap'); /*Bitter*/

/* Restablecer valores por default */
*{
   margin: 0;
   padding: 0;
   text-decoration: none;
   list-style-type: none;
}

/* Imports */
@import './components/index';
