*{
   margin: 0;
   padding: 0;
   text-decoration: none;
   list-style-type: none;
}

/* Imports */
@import './components/index';
@import './components/relatos';
@import '/scss/components/bio';
@import './components/contacto';
@import './components/mediaqueries';
