/* BIO */
/* Header */
.biopage{
    text-decoration-line: overline;
}

.bio{
    display: flex;
    justify-content: space-evenly;
}


.bio img{
    height: 418px;
    padding: 20px; 
    display: flex;
    justify-content: center;
}

.bio p{
    padding: 150px 20px 0px 20px; 
    font-size: 16px;
    font-family: 'Bitter', serif;
}