/* BIO */
/* Header */
.biopage{
    text-decoration-line: overline;
}

.body-bio{
    background-color: #706b6a31;

    .bio{
        display: flex;
        padding-top: 5%;
        height: 80vh;
    
        h1{
            display: none;
        }
    
        img{
            height: 448px;
            margin-left: 15%;
        }
    
        .parrafos-bio{
            display: block;
    
            p{
                margin: 2% 15% 0% 5%; 
                font-size: 15px;
                font-family: 'Bitter', serif;
                text-align: justify;
                line-height: 1.4;
            }
    
        }
        
    }
}


