.main-relatos{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        font-family: 'Quicksand', sans-serif;
        font-size: 32px;
        font-weight: lighter;
    }
        
    img{
        margin-top: 1%;
        object-fit:cover;
        width: 800px;
        height: 300px;
    }

    p{
        font-family: 'Bitter', serif;
        font-size: 16px;
        text-align: justify;
        line-height: 1.6;
        margin: 1% 7% 0% 7%;
    }

    .cala-salguer{
        padding: 0% 25% 0% 25%;
    }
}

.fotos-relato1{
    display: flex;
    margin-top: 5%;

    .mapa-radial{
        
        align-items: center;
    
        img{
            height: 181px;
        }
    
        .tit-fotos-jorge{
            font-family: 'Quicksand', sans-serif;
            font-size: 25px;
            font-weight: lighter;
            margin-left: 3vw;
            margin-bottom: 10px;
        }
    }
}

.botones-relatos{
    color: black;
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    margin: 3% 45% 3% 45%;
    padding: 10px;
    background-color: #B3A1A1;
    transition: all 1s;
    
    &:hover{
        border-radius: 10px;
    }  
}

