
.fotos-relato1{
    display: flex;
    margin-top: 5%;

    .mapa-radial{
        
        align-items: center;
    
        img{
            height: 181px;
        }
    
        .tit-fotos-jorge{
            font-family: 'Quicksand', sans-serif;
            font-size: 32px;
            font-weight: lighter;
            margin-left: 3vw;
            margin-bottom: 10px;
        }
    }
}

