/* RELATOS */
/* Header relatos page */
.relatos{
    text-decoration-line: overline;
}

/* Sección N° 1 */

.grid-container-relatos{
    width: 92%;
    padding: 1%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 48vh 30vh 20vh 10vh;
    gap: 8px;
    grid-template-areas:
    'texto imagen imagen'
    'img2 img3 img4'
    'parrafo2 parrafo3 parrafo4'
    'boton2 boton3 boton4';


    p{
        font-family: 'Bitter', serif;
        font-size: 14px;
        text-align: center;
        margin: 10% 0% 0% 20%;
        
    }

    a{
        color: black;
        display: flex;
        justify-content: center;
        font-family: 'Quicksand', sans-serif;
        font-size: 14px;
        background-color: #B3A1A1;
        padding: 8px;
        margin: 2% 35% 0% 35%;

        
    }

    main{
        grid-area: texto;
        margin: 7%;

        h1{
            font-size: 32px;
            font-family: 'Quicksand', sans-serif;
        }

        .btn-main{
            font-size: 16px;
            margin: 10px 30px 0px 180px;
            padding: 10px;
        }

        .p-principal{
            margin: 7% 5% 0% 0%;
            text-align: left;

        }
    }

    .grid-item-img{
        grid-area: imagen;

        img{
            height: 300px; 
            width: 100%;
            object-fit: cover; 
        }
    }

    .grid-item-foto2{
        grid-area: img2;

        img{
            width: 70%;
            height: 100%;
            margin-left: 25% 
        }
    }

    h2{
        font-size: 18px;
        margin: 2% 0% 0% 20%;
        font-family: 'Quicksand', sans-serif;
        text-align: center;
    }

    .grid-item-tex2{
        grid-area: parrafo2;
    }

    .grid-item-foto3{
        grid-area: img3;

        img{
            width: 70%;
            height: 100%;
            margin-left: 25%; 
        }
    }

    h3{
        font-size: 18px;
        margin: 2% 0% 0% 20%;
        font-family: 'Quicksand', sans-serif;
        text-align: center;
    }

    .grid-item-tex3{
        grid-area: parrafo3;
    }

    .grid-item-foto4{
        grid-area: img4;

        img{
            width: 70%;
            height: 100%;
            margin-left: 25%; 
        }
    }

    h4{
        font-size: 18px;
        margin: 2% 0% 0% 20%;
        font-family: 'Quicksand', sans-serif;
        text-align: center;
    }

    .grid-item-tex4{
        grid-area: parrafo4;
    }

    .grid-item-boton2{
        grid-area: boton2;
    }
    .grid-item-boton3{
        grid-area: boton3;
    }
    .grid-item-boton4{
        grid-area: boton4;
    }

}





