/* Fuentes tipográficas */




@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap'); /*Quicksand*/


@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap'); /*Bitter*/

$textos: (
    titulos: 'Quicksand', sans-serif,
    textos:  'Bitter', serif,
);
    